#nav{
   width:100%;
   height:50px;
   border:none;
   margin:auto;
   background-color:#8fbc8f;
}
#right{
    width:30%;
    height:100%;
    margin-left:1000px;
    display:flex;
    justify-content:space-evenly;
}
#slideshow{
    width:100%;
    height:450px;
    border:none;
}
#movies{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(3,200px);
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
   
}
#movies>div{
    display: flex;
    background-color: rgb(240, 229, 229);
    box-shadow: rgba(245, 219, 219, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#movies>div>div>img{
    margin-top: 1px;
    height: 100%;
    width: 70%;
}
#div2{
    width: 50%;
}
#sort--buttons{
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
}
select{
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    background-color: red;
    color: black;
    font-style:bold;
    border: none;
}